name: Python Versions

on: [push, pull_request]

jobs:
   build:
     runs-on: ubuntu-latest
     strategy:
       fail-fast: false
       matrix:
         python-version: ["3.12", "3.13"]

     steps:
       - uses: actions/checkout@v4
       
       - name: Install uv
         uses: astral-sh/setup-uv@v6
         with:
            python-version: ${{ matrix.python-version }}
            version: "0.9.2"

       - name: Set up Python ${{ matrix.python-version }}
         uses: actions/setup-python@v4
         with:
           python-version: ${{ matrix.python-version }}

       - name: Install Dependencies
         run: |
           make install

       - name: Lint
         run: |
           make lint

       - name: Format
         run: |
           make format 

       - name: Test
         run: |
           make test